body {
    background-image: url('foto/katalogbg.jpg');
    background-size: 100%;
}
.navigasi {
    margin-top: -30px;
    position: fixed;
    background-color: rgb(0, 0, 0, 0.3);
    margin-left: -20px;
}
.navigasi img {
    padding-left: 60px;
    position: absolute;
}
.navigasi h1 {
    float: left;
    margin-left: 150px;
    margin-top: -5px;
}
.navigasi ul {
    margin-top: 10px;
    list-style-type: none;

    
    overflow: hidden;
    /* border: 1px solid #e7e7e7; */
    float: right;
    margin-left: 680px;
    padding-right: 50px;

}
  
.navigasi li {
    float: left;
  }
  
  .navigasi li a {
    display: block;
    color: rgb(31, 163, 81);
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: bold;
    min-width: 80px;
    color: white;
}
.navbar{
  color: red;
}
.navigasi li a:hover {
    border-bottom: 2px solid rgb(214, 145, 19);
    color: rgb(222, 153, 25);
  }



.main {
    display: flex;
    margin-top: 40px;
}
.header {
    background-color: black;
    color: rgb(178, 126, 49);
    margin-top: 80px;
    text-align: center;
    padding-top: 5px;
    padding-bottom: 5px;
}
.main1 {
    width: 40%;
    margin-top: 30px;
    color: white;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    text-align: justify;
}
.main1 h2, .main1 p {
    margin-left: 20px;
    margin-right: 20px;
}
.main2 {
    width: 60%;
    margin-top: 30px;
}

.data {
    background-color: rgb(245, 246, 248, 0.5);
    margin-top: 0px;
    margin-bottom: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 80px;
    margin-left: 10px;
    margin-right: 0px;
    color: white;
    border-top-left-radius: 20px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.info {
    color: white;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.id {
    padding-top: 10px;
    padding-bottom: 10px;
    font-size: large;
    width: 200px;
}
.idserver {
    padding-top: 10px;
    padding-bottom: 10px;
    font-size: large;
    width: 80px;
}
.item {
    background-color: rgb(245, 246, 248, 0.5);
    margin-top: 0px;
    margin-bottom: 10px;
    padding-top: 10px;
    padding-bottom: 30px;
    padding-left: 80px;
    margin-left: 10px;
    margin-right: 0px;
    color: white;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
/* .subjudul{
    padding-left: 80px;
}
.item table {
    padding-left: 80px;
} */
.item tr td {
    margin: 50px;
    width: 100px;
    background-color: rgb(233, 236, 239, 0.7);
}
.item tr td img {
    width: 100%;
}
.catalog {
    display: flex;
  }
  
  .item0 {
    width: 100px;
    margin: 10px;
    padding: 10px;
    border: 1px solid #ccc;
    cursor: pointer;
    border-radius: 10px;
  }
  
  .item0.selected {
    border: 2px solid blue;
  }
  
  .item0 img {
    width: 100%;
    height: auto;
  }
  
  .item h3 {
    margin-top: 10px;
  }
.catalog2 {
    display: flex;
}

.button-check {
    background-image: url('foto/bg\ tombol.jpg');
    color: white;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-decoration: none;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 30px;
    padding-right: 30px;
    margin-left: 350px;
}
.button-check:hover {
    color: rgb(197, 194, 194);
} 
.footer {
    background-color: black;
    display: flex;
    background-size: 100%;
    border-radius: 8px;
}
.bgtrans {
    background-color: rgb(18, 17, 17,  0.1);
}
.judul1 {
    padding-top: 0px;
    color: white;
}
.footer1 {
    width: 50%;
    padding-top: 40px;
    padding-left: 90px;
    color: white;
}
.footer2 {
    padding-top: 40px;
    padding-left: 100px;
    padding-right: 90px;
    color: white;
}
.main3 {
    background-color: rgb(245, 246, 248, 0.5);
    margin-top: 0px;
    margin-bottom: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 80px;
    margin-left: 10px;
    margin-right: 0px;
    color: white;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.email {
    padding-top: 10px;
    padding-bottom: 10px;
    font-size: large;
    width: 300px;
}